<div class="relative my-4">
    <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-slate-200 dark:border-slate-700"></div>
    </div>
    <div class="relative flex justify-center text-sm text-slate-500">or</div>
</div>
